@model BriefeViewModel;

<div class="ha-letterheader">
    @await Html.PartialAsync("/Views/Shared/_LetterHead.cshtml", Model.MetaData)
</div>

@if (Model.ParsedText != null) {
    @Html.Raw(@Model.ParsedText)
}

@if (Model.ParsedLineCount != null) {
    @Html.Raw(@Model.ParsedLineCount)
}

@if (Model.ParsedMarginals != null) {
    @Html.Raw(@Model.ParsedMarginals)
}
