@model BriefeMetaViewModel

<div class="ha-letterhead">
    <div class="ha-letternumber">
        <div class="ha-letternumberinline">
            @Model.Meta.Autopsic
        </div>
    </div>
    <div class="ha-metadata">
        <div class="ha-metadatarows">
            <div class="ha-metadataupperrow">
                <div class="ha-metadatadate">
                    @Model.Meta.Date
                </div>
                @if (Model.HasText) {
                @if (Model.ParsedZHString != null && Model.ShowZHData) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            <span>@Html.Raw(Model.ParsedZHString)</span>
                        </div>
                    </div>
                }
                else if (Model.ParsedZHString == null && Model.ShowZHData) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            <span>Neu</span>
                        </div>
                    </div>
                }

                @if (Model.Meta.hasOriginal != HaDocument.Models.OptionalBool.True) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            <span class="ha-cross">Orig</span>
                        </div>
                        <div class="ha-tooltiptext">
                            Original verschollen
                        </div>
                    </div>
                }
                else {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            Orig
                        </div>
                        <div class="ha-tooltiptext">
                            Original vorhanden
                        </div>
                    </div>
                }

                @if (Model.Meta.isProofread != HaDocument.Models.OptionalBool.True) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            <span class="ha-cross">geprüft</span>
                        </div>
                        <div class="ha-tooltiptext whitespace-nowrap">
                            Noch nicht textkritisch geprüft
                        </div>
                    </div>
                }
                else {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            geprüft
                        </div>
                        <div class="ha-tooltiptext whitespace-nowrap">
                            Textkritisch geprüft
                        </div>
                    </div>
                }

                @if (Model.Meta.ZH != null && Model.Meta.ZH.dateChanged) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            neu datiert
                        </div>
                        <div class="ha-tooltiptext whitespace-nowrap" style="margin-left: -165px;">
                            Der Brief wurde gegenüber der Ausgabe ZH neu datiert
                        </div>
                    </div>
                }

                @if (Model.HasMarginals) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            Komm
                        </div>
                        <div class="ha-tooltiptext whitespace-nowrap">
                            Mit Stellenkommentar
                        </div>
                    </div>
                }
                }
            </div>
                <div class="ha-metadatapersons">
                    @if (!String.IsNullOrWhiteSpace(Model.ParsedReceivers)) {
                    @if (Model.Meta.isDraft == HaDocument.Models.OptionalBool.True) { 
                        <span>@Html.Raw(Model.ParsedSenders)</span>
                        <div class="ha-tooltip">
                                ↛
                            <div class="ha-tooltiptext" style="bottom: 100%;">
                                Entwurf
                            </div>
                        </div>
                        <span>@Html.Raw(Model.ParsedReceivers)</span>
                    }
                    else {
                        <span>@Html.Raw(Model.ParsedSenders) → @Html.Raw(Model.ParsedReceivers)</span>
                    }
                    }
                </div>

        </div>
    </div>
</div>