@model (BriefeMetaViewModel Letter, bool ShowZHData, bool Compact)

<div class="ha-letterhead">
    @if (!Model.Compact) {
        <div class="ha-letternumber">
            <div class="ha-letternumberinline">
                @Model.Letter.Meta.ID
            </div>
        </div>
    }
    @if (Model.Letter.HasText) {
        <div class="ha-metadata">
            <div class="ha-metadataupperrow">
                <div class="ha-metadatadate">
                    @Model.Letter.Meta.Date
                </div>
                @if (!Model.Compact) {
                    @await Html.PartialAsync("/Views/Shared/_Pills.cshtml", (Model.Letter, Model.ShowZHData))
                }
            </div>
            <div class="ha-metadatapersons">
                @foreach(var pair in Model.Letter.SenderReceiver) {
                    @if (Model.Letter.Meta.isDraft.HasValue &&  Model.Letter.Meta.isDraft.Value) { 
                        <span>@Html.Raw(pair.Sender)</span>
                        <div class="ha-tooltip">
                                ↛
                            <div class="ha-tooltiptext" style="bottom: 100%;">
                                Entwurf
                            </div>
                        </div>
                        <span>@Html.Raw(pair.Receiver)</span><br>
                    }
                    else {
                        <span>@Html.Raw(pair.Sender) → @Html.Raw(pair.Receiver)</span><br>
                    }
                }
            </div>
    </div>
     }
    else {
        <div class="ha-metadatastrike">
            <span>[Fälschlich in ZH aufgenommen]</span>
            @if (!Model.Compact && Model.ShowZHData) {
                @if (Model.Letter.ParsedZHString != null && Model.ShowZHData) {
                    <div class="ha-tooltip">
                        <div class="ha-pill">
                            <span>@Html.Raw(Model.Letter.ParsedZHString)</span>
                        </div>
                    </div>
                }
                else if (Model.Letter.ParsedZHString == null) {
                    <div class="ha-tooltip">
                        <div class="ha-pill ha-newpill">
                            <span>Neu</span>
                        </div>
                    </div>
                }
            }
        </div>
    }
</div>